/* Slide animation for the image coming from the right */
.slide-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-right-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}

.slide-right-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}

/* Slide animation for the description coming from the left */
.slide-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-left-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}

.slide-left-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}

.next-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  transition: opacity 0.3s ease;
  z-index: 10;
  background: transparent;
  border: none;
}

.next-button:hover {
  opacity: 1;
}

.container {
  height: 100vh;
}

.next-button.hide {
  opacity: 0;
}

.content-section {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content-section.show {
  opacity: 1;
}
