.step-container {
  display: flex;

  align-items: center;

  flex-wrap: wrap;

  justify-content: center;
}

.step {
  display: flex;

  flex-direction: column;

  align-items: center;

  margin: 10px;

  opacity: 0;

  transform: translateY(20px);

  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.step.visible {
  opacity: 1;

  transform: translateY(0);
}

.step-number {
  width: 210px;

  height: 210px;

  border-radius: 50%;

  background-color: rgb(97, 99, 164);

  color: white;
  margin-right: 2rem;
  display: flex;

  align-items: center;

  justify-content: center;

  font-weight: bold;
}

.step-text {
  margin-top: 1rem;
}

.arrow {
  width: 40px;

  height: 4px;

  background-color: #ccc;

  position: relative;

  opacity: 0;

  transform: scaleX(0);

  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.arrow:before {
  content: "";

  position: absolute;

  width: 16px;

  height: 16px;

  border-top: 4px solid #ccc;

  border-right: 4px solid #ccc;

  transform: rotate(45deg);

  top: -6px;

  right: -8px;
}

.arrow.visible {
  opacity: 1;

  transform: scaleX(1);
}

@media (max-width: 768px) {
  .step-number {
    width: 120px;

    height: 120px;
  }
}
