/* animations.css */

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);

    opacity: 0;
  }

  100% {
    transform: translateX(0);

    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);

    opacity: 0;
  }

  100% {
    transform: translateX(0);

    opacity: 1;
  }
}

.card-slide-left {
  animation: slideInLeft 0.8s ease-in-out;
}

.card-slide-right {
  animation: slideInRight 0.8s ease-in-out;
}
